.postWrapper{
  width:100%;
}
.content{
    display: flex;
    flex-grow: 2;
    background-color: white;
    margin-left: 10px;
}
.cardImg{
  background-image: url("../images/profile.png");
    width: 7%;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
}

.cardcontent{
    flex-grow: 1;
    display: inherit;
    flex-direction: column
}
.carddetails{
    display: inherit;
    flex-direction: row;
}

.cardoptions{
  display:inherit;
  flex-direction: row;
}
.inputbackground{
  background-color: #E8F5FD;
  border-radius: 3px;
  padding: 6px 20px 6px 10px;
  display: flex;
}

textarea::placeholder {
  color: skyblue;
}
.postContainer {
  display: flex;
}

.justifyCenter {
  justify-content: center;
}

.profileroundcard_dimension{
  background-image: url("../images/profile.png");
  height: 28px;
  width: 29px;
  border: none;
  border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5px;
    margin-right: 5px;
}

.inputfield{
  flex-grow: 1;
  border:1px solid #a4d9f9;
}

.bg-gradient1 span,
.bg-gradient1:before {
  background: #52A0FD;
  background: linear-gradient(to right, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
}

.wrapper {
  margin: 5px 10px;
  text-align: right;
}

a {
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}

.fancy-button {
  display: inline-block;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}
.fancy-button:before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 30px;
  right: 30px;
  z-index: -1;
  -webkit-filter: blur(20px) brightness(0.95);
          filter: blur(20px) brightness(0.95);
  transition: all 0.3s ease-out;
}
.fancy-button i {
  margin-top: -1px;
  margin-right: 20px;
  font-size: 1.265em;
  vertical-align: middle;
}
.fancy-button span {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 50em;
  position: relative;
  z-index: 2;
  will-change: transform, filter;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}
.fancy-button:focus, .fancy-button:active {
  color: #ffffff;
}
.fancy-button:hover {
  color: #ffffff;
}
.fancy-button:hover span {
  -webkit-filter: brightness(1.05) contrast(1.05);
          filter: brightness(1.05) contrast(1.05);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.fancy-button:hover:before {
  bottom: 0;
  -webkit-filter: blur(10px) brightness(0.95);
          filter: blur(10px) brightness(0.95);
}
.fancy-button.pop-onhover:before {
  opacity: 0;
  bottom: 10px;
}
.fancy-button.pop-onhover:hover:before {
  bottom: -7px;
  opacity: 1;
  -webkit-filter: blur(20px);
          filter: blur(20px);
}
.fancy-button.pop-onhover:hover span {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}
.fancy-button.pop-onhover:hover:active span {
  -webkit-filter: brightness(1) contrast(1);
          filter: brightness(1) contrast(1);
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: all 0.15s ease-out;
}
.fancy-button.pop-onhover:hover:active:before {
  bottom: 0;
  -webkit-filter: blur(10px) brightness(0.95);
          filter: blur(10px) brightness(0.95);
  transition: all 0.2s ease-out;
}

